@import url('https://fonts.googleapis.com/css?family=Lato')
@import url('https://fonts.googleapis.com/css?family=Raleway');

body
  display flex
  flex-direction column
  justify-content center
  align-items center
  font-family 'Lato', sans-serif