.logo
    padding-right 30px
.logo__phone_number
    font-size 14px
    font-family "Lato"
    color #ffd119
    font-weight bold
    text-transform uppercase
    line-height 1.2
    text-align left
    padding-bottom 30px