.slider__slide
  flex-box(flex, column, space-around, center)
  background  url("../img/BG.png") 100% 100% no-repeat
  width 100vw
  height 600px
  background-size cover
  background-position center
.header-navigation
  flex-box(flex, row, space-between, center)