mixin b-slider()
    +b.slider
        +e.slide
            //img(src="img/BG.png")
            +b.header-navigation
                +b-logo()
                +b-navigation()
            +b-header()
            +b-button()