mixin b-sub-navigation()
    +b('ul').sub_navigation
        +e('li')
            a(href="/") CMS
        +e('li')
            a(href="/") Wordpress
        +e('li')
            a(href="/") OpenCart
        +e('li')
            a(href="/") Umi
        +e('li')
            a(href="/") Joomla